::ng-deep .fill-screen-modal {
    width: 100%;
    display: flex;
    flex-grow: 1;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 28px;
    }
}