:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

/* .order-image {
  width: 100%;
}

.order-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
} */

.sidenav-container {
  display: flex;
}

.fill-height {
  flex: 1;
  overflow-y: auto;
  width: 100%;
}

.print-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  height: 30px;
  max-height: 30px;
  min-height: 30px;
  padding: 0 10px;
}

.print-button-mobile {
  border: 1px solid var(--zx-gray-25-pr);
  background-color: white;
}

@media only screen and (min-width: 768px) {
  .print-button {
    gap: 5px;
    height: 38px;
    max-height: 38px;
    min-height: 38px;
    padding: 0 15px;
  }
}

.print-button .mat-icon {
  font-size: 22px;
  width: 26px;
  height: 22px;
  color: var(--zx-pink);
  margin: 0;
}

.print-button span {
  color: var(--zx-pink);
  font-weight: bold;
}

.zx-seperation-arrow {
  height: 60px;
  width: 100%;
}

.zx-100-opacity {
  opacity: 0;
}

.strikethrough {
  text-decoration: line-through;
  font-style: italic;
}

.italic {
  font-style: italic;
}

.mirror {
  transform: scaleX(-1);
}

:host ::ng-deep .mat-mdc-paginator-page-size-label {
  display: none;
}

:host ::ng-deep .mat-mdc-paginator-container {
  justify-content: space-between;
}

:host ::ng-deep .mat-mdc-paginator-range-label {
  direction: ltr;
}

mat-expansion-panel-header {
  height: 180px;
  min-height: 180px;
}

mat-expansion-panel-header.zx-inqlude-title-h {
  margin-top: 50px;
  position: relative;
}

mat-expansion-panel-header.zx-big-order-header {
  height: 190px;
  min-height: 190px;
}

@media only screen and (min-width: 992px) {
  mat-expansion-panel-header {
    height: 90px;
    min-height: 90px;
  }
}

.zx-min-w-place {
  min-width: 70px;
}

.zx-overflow-visible {
  overflow: visible;
  height: auto;
}

.zx-bg-order {
  background-color: var(--zx-green-vivid-v-v-light);
  box-shadow: inset -5px 0 5px -5px var(--zx-green-vivid-light), inset 5px 0 5px -5px var(--zx-green-vivid-light);
  border-radius: 0 !important;
}

.zx-choosen-order {
  background-color: var(--zx-green-vivid-v-v-light) !important;
  box-shadow: inset 0 5px 5px -5px var(--zx-green-vivid-light), inset 5px 0 5px -5px var(--zx-green-vivid-light), inset -5px 0 5px -5px var(--zx-green-vivid-light);
  border-radius: 5px 5px 0 0 !important;
}

.zx-choosen-order:hover {
  background-color: var(--zx-green-vivid-v-v-light) !important;
}

.zx-choosen-order-action {
  background-color: var(--zx-green-vivid-v-v-light) !important;
  box-shadow: inset 0 -5px 5px -5px var(--zx-green-vivid-light), inset 5px 0 5px -5px var(--zx-green-vivid-light), inset -5px 0 5px -5px var(--zx-green-vivid-light);
  border-radius: 0 0 5px 5px !important;
}

.zx-order-summery-image-con {
  min-width: 110px;
  min-height: 96px;
}

@media only screen and (min-width: 992px) {
  .zx-w-lg-50 {
    max-width: 30%;
    padding-top: 5px;
  }

  .zx-order-summery-image-con {
    min-width: 125px;
    min-height: 115px;
  }
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}

/* mat-card */
@media only screen and (min-width: 992px) {
  mat-card {
    max-width: 95%;
  }
}

@media only screen and (min-width: 1200px) {
  mat-card {
    max-width: 85%;
  }
}

.zx-p-x-order-title {
  padding: 0 24px;
  background-color: var(--zx-gray-v-light);
  transform: translate(24px, -50px)
}

.zx-p-x-order-title-not-rtl {
  transform: translate(-24px, -50px)
}

.zx-p-x-order-title-darkmode {
  background-color: var(--zx-gray-v-dark);
}

.zx-status-con-10-p {
  width: 5%;
  max-width: 5%;
}

.zx-status-con-30-p {
  width: 30%;
  max-width: 30%;
}

.zx-status-con-70-p {
  width: 65%;
  max-width: 65%;
}

@media only screen and (min-width: 992px) {
  .delete-on-hover {
    opacity: .4;
  }

  .delete-on-hover:hover {
    opacity: 1;
    transition: opacity .3s;
  }
}