<div class="w-100">
    <div class="w-100 d-flex justify-content-between align-items-center px-1 gap-2 c-pointer" (click)="toggleMainNav()">
        <div matRipple class="flex-grow-1 flex-md-grow-0 px-3 py-2 rounded-2 zx-border-gray-v-light"
            [class.zx-border-green]="isDarkMode">
            <div class="d-flex align-items-center gap-2" *ngIf="printingService">
                <img [src]="'assets/images/' + printingService + '-icon.svg'" alt="choosen printing system icon"
                    class="zx-small-icon-size">
                <span class="zx-text-small">
                    {{ "choose-system.title-short-" + printingService | translate }}
                </span>
                <span class="spacer d-md-none"></span>
                <img *ngIf="!isDarkMode" src="/assets/images/tiny-arrow-icon.svg"
                    class="svg zx-tiny-icon-size c-pointer">
                <img *ngIf="isDarkMode" src="/assets/images/tiny-arrow-icon-green.svg"
                    class="svg zx-tiny-icon-size c-pointer">
            </div>
        </div>
        <div class="px-1 d-flex justify-content-center">
            <img *ngIf="!isDarkMode" src="assets/images/chainge-icon.svg" class="svg zx-small-icon-size">
            <img *ngIf="isDarkMode" src="assets/images/chainge-icon-green.svg" class="svg zx-small-icon-size">
        </div>
    </div>
    <div *ngIf="isNavOpen" class="position-relative d-flex w-100">
        <div class="d-flex position-absolute top-0 start-0 zx-z-index-2" [class.end-0]="isRTL">
            <div class="d-flex w-100 p-2 mx-1 rounded-2 bg-white d-flex shadow-85-strong" [class.bg-dark]=" isDarkMode"
                [class.zx-border-gray-v-light]="!isDarkMode">
                <app-navigation-to-branches class="w-100">
                </app-navigation-to-branches>
            </div>
        </div>
    </div>
    <div class="w-100 opacity-50 mt-3">
        <hr class="m-0">
    </div>
</div>