.fill-height {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
}

.zx-max-w-q-and-a {
    max-width: 950px;
}

.px-lg-big-q-and-a {
    padding: 10px 10px 2px 10px;
}

@media only screen and (min-width: 992px) {
    .px-lg-big-q-and-a {
        padding-left: 100px;
        padding-right: 100px;
    }
}

.zx-fit-text-q-and-a {
    min-width: fit-content;
}