<div class="drawing-wrapper">
    <!-- טקסט מידת האורך - מעל ה-top-bar במרכז, בקונטיינר הכי חיצוני -->
    <div class="dimension-text length-text">{{ beamLength }}ס"מ</div>
    <!-- טקסט מידת העובי - משמאל ל-left-bar במרכז, בקונטיינר הכי חיצוני -->
    <div class="dimension-text width-text">{{ beamWidth }}ס"מ</div>
    
    <div class="drawing-container" #container>
        <div class="beam-rectangle" 
             [style.width]="'100%'"
             [style.height.px]="calculatedHeight">
            <!-- Div מרחף מעל המלבן - מכסה את ה-padding העליון -->
            <div class="floating-div top-bar">
                <div class="top-bar-inner">
                    <div class="top-bar-center"></div>
                </div>
            </div>
            <!-- Div מרחף משמאל למלבן - מכסה את ה-padding משמאל -->
            <div class="floating-div left-bar">
                <div class="left-bar-inner">
                    <div class="left-bar-center"></div>
                </div>
            </div>
            <!-- קדחים (חורים) -->
            <div *ngFor="let hole of holes" 
                 class="hole"
                 [style.left.px]="hole.left"
                 [style.top.px]="hole.top"></div>
        </div>
    </div>
</div>
