::ng-deep .fill-screen-modal-su-edit-user {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-height: 90vh !important;
}

.close-icon {
    opacity: 50%;
    outline: none;
}

@media only screen and (min-width: 1002px) {
    .close-icon {
        margin: 15px;
    }
}

.close-icon.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
    display: none;
}

::ng-deep div.mat-expansion-panel-body {
    padding: 0;
}

::ng-deep div.mat-mdc-dialog-surface {
    flex-grow: 1;
}

.top-clear-field {
    top: 6px;
    left: -17px;
}

.top-clear-field-not-rtl {
    left: unset;
    right: -17px;
}

/* Hide the spinner controls for WebKit browsers */
::ng-deep input[type=number]::-webkit-outer-spin-button,
::ng-deep input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the spinner controls for Firefox */
::ng-deep input[type=number] {
    -moz-appearance: textfield;
}