::ng-deep .dialog-content-wrapper {
    margin: 0;
    padding: 0;
    width: 0;
}

::ng-deep .log-in-dialog-container {
    min-width: 300px;
}

::ng-deep .fill-screen-modal {
    width: 100%;
    display: flex;
    flex-grow: 1;
}

/* CONTAINERS */

.zx-login-images-container {
    display: none;
}

@media only screen and (min-width: 992px) {
    .zx-login-images-container {
        display: flex;
        height: 100%;
        min-width: 590px;
        max-width: 590px;
        justify-content: end;
        position: relative;
        right: auto;
        top: auto;
        z-index: auto;
    }
}

@media only screen and (max-width: 991px) {
    .zx-login-images-container {
        display: none;
    }
}

.rotating-images-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 490px;
}

.rotating-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.rotating-image.active {
    opacity: 1;
}

.zx-image-fade-overlay {
    position: absolute;
    top: 0;
    left: -2px;
    width: 300px;
    height: 100%;
    background: linear-gradient(to right, 
        rgba(255, 255, 255, 1) 0%, 
        rgba(255, 255, 255, 1) 30%, 
        rgba(255, 255, 255, 0.8) 50%, 
        rgba(255, 255, 255, 0.3) 70%, 
        rgba(255, 255, 255, 0) 100%
    );
    z-index: 1;
    pointer-events: none;
}

.zx-logo-white {
    bottom: 20px;
    left: 20px;
    width: 130px;
    height: auto;
}

.zx-logo-white-rtl {
    left: unset;
    right: 20px;
}

button.mat-stroked-button {
    min-height: 48px;
    border: 1px solid var(--zx-dark);
    border-radius: 0;
}

button.mat-stroked-button-dark-mode {
    border: 1px solid white;
    background-color: var(--zx-white-20-pr);
}

@media only screen and (min-width: 992px) {
    button.mat-stroked-button {
        border-radius: 0;
    }
}


::ng-deep .mdc-button__label {
    width: 100%;
    padding: 0 3px;
}

.zx-icon-log-in {
    width: 24px;
    height: 24px;
}

.zx-text-link {
    cursor: pointer;
    text-decoration: underline;
}

.zx-text-link:hover {
    color: var(--zx-green);
    transition: 300ms;
}

.close-icon {
    opacity: 50%;
    outline: none;
}

@media only screen and (min-width: 992px) {
    .close-icon {
        background-color: var(--zx-white-50-pr);
        z-index: 1;
        margin: 15px;
    }
}

/* make btn not auto focused */
.close-icon.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
    display: none;
}

/* make input transperent background and text color mach mode */
input:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--mdc-filled-text-field-input-text-color);
}

.zx-login-content-container {
    align-self: stretch !important;
    padding: 45px 15px 45px 15px !important;
}

.zx-login-content-container h4 {
    font-size: 2rem !important;
    font-weight: 700 !important;
    line-height: 1.3 !important;
}

.zx-login-content-container p {
    font-size: 1.1rem !important;
    line-height: 1.5 !important;
}

@media only screen and (max-width: 991px) {
    .zx-login-content-container {
        background-color: white !important;
        position: relative !important;
        z-index: 2 !important;
        width: 100% !important;
        flex-grow: 1 !important;
        flex-shrink: 0 !important;
        height: 100% !important;
        max-width: none !important;
        margin-right: 0 !important;
    }
}

@media only screen and (min-width: 992px) {
    .zx-login-content-container {
        max-width: 525px;
        padding: 30px 15px 30px 15px !important;
        position: absolute !important;
        left: 0 !important;
        top: 0 !important;
        height: 100% !important;
        z-index: 2 !important;
        background-color: transparent !important;
    }
}

div.zx-rtl-container input {
    text-align: end;
}

.ltr-content {
    direction: ltr;
}

.zx-btn-single {
    width: 100%;
}

@media only screen and (min-width: 992px) {
    .zx-btn-single {
        width: 270px;
    }
}

.zx-eye-icon {
    position: absolute;
    right: -10px;
    top: 5px;
}

.zx-eye-icon-rtl {
    position: absolute;
    left: -10px;
    top: 5px;
}